* {box-sizing: border-box;}

    .author-info {
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 0.75rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    }
    .author-info a {
    color: white;
    }

    html, body {
    overflow: auto;
    align-items: center;
    }

    .column {
    float: left;
    width: 25%;
    padding: 5px;
    }
    #img{height:400px;overflow:auto}
    /* Clearfix (clear floats) */
    .row::after {
    content: ;
    clear: both;
    display: table;
    }
    .crop {
    width: 350px;
    height: 350px;
    object-fit: cover;
    }
